<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Isabel Cristiana">
  <link rel="icon" href="../../favicon.ico">

  <title>Dispensador de granos</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/carousel.css">

</head>

<body>

  <header>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <h1 class="navbar-brand">
            <a href="main.html">Dispensador de<span> granos</span></a>
          </h1>
          <a href="#" onClick="javascript.void()" class="submenu">Menus</a>
        </div>

        <div class="menuBar">
          <ul class="menu">
            <li class="active"><a href="#">Home</a></li>
            <li class="dropdown"><a href="#">Consultar Datos</a>
              <ul>
                <li><a href="#">Ver datos</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>

  <section class="slider">
    <div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner">


        <div class="item">
          <img data-src="../assets/images/grains-1.jpg" src="../assets/images/grains-1.jpg">
          <div class="container">
          </div>
        </div>

        <div class="item active">
          <img data-src="../assets/images/slider3.jpg" alt="second slide" src="../assets/images/slider3.jpg">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1 class=""></h1>

            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon carousel-control-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon carousel-control-right"></span></a>
    </div>
  </section>


  <section class="main_container">
    <div class="row text-left headings no-margin">
      <div class="container">
        <div class="line-orange"></div>
        <p>
          <a id="btn-send" class="btn btn-default btn-lg-round" href="#" role="button">Dispensar</a>
        </p>
        <h1 class="page_title">"Haz de tu alimentaci贸n tu mejor <span>medicina" </span> - Hip贸crates.</h1>
      </div>
    </div>

  </section>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h3>Acerca</h3>
          <p>Dispensador automatico para cualquier tipo de granos<br />
            <br />
            Para nosotros es muy importante tu bienestar por eso nos esforzamos en que llevas una nutrici贸n adecuada,
            es la mejor inversi贸n para tu cuerpo y mente.</p>
        </div>


      </div>
    </div>
  </footer>
  <p class="text-center copyright">&copy; Copyright Isalogi Company. All Rights Reserved.</p>

  <script src="../assets/js/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/main.js"></script>

  <script type="text/javascript">
    $('.carousel').carousel({
      interval: 300000,
      pause: 'true'
    })
  </script>

  <script>
    $(document).ready(function () {

      $("#btn-send").click(function () {
        $.post("http://localhost:8080/dispence", {}, function (data) {

          

        });
      });
    });
  </script>

</body>

</html>