<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="Isabel Cristiana">
  <link rel="icon" href="../../favicon.ico">

  <title>Dispensador de granos</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/style.css">
  <link rel="stylesheet" href="../assets/css/carousel.css">
  <link rel="stylesheet" href="../assets/css/datatables.css">
  <link rel="stylesheet" href="../assets/css/datatables.min.css">
  <link rel="stylesheet" href="../assets/css/responsive.bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/responsive.dataTables.min.css">
  <link rel="stylesheet" href="../assets/css/scroller.bootstrap.min.css">
  <link rel="stylesheet" href="../assets/css/scroller.dataTables.min.css">

</head>

<body>

  <header>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <h1 class="navbar-brand">
            <a href="http://localhost:8080/">Dispensador de<span> granos</span></a>
          </h1>
          <a href="#" onClick="javascript.void()" class="submenu">Menus</a>
        </div>

        <div class="menuBar">
          <ul class="menu">
            <li class="active"><a href="http://localhost:8080/">Home</a></li>
            <li class="dropdown"><a href="#">Consultar Datos</a>
              <ul>
                <li><a href="http://localhost:8080/viewData">Ver datos</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <section>


    <div class="table-responsive">
      <table id="data" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" style="width:60%">
        <thead class="thead">
          <tr>
            <th>Fecha</th>
            <th>Mensaje</th>
          </tr>
        </thead>
      </table>

    </div>


  </section>

  <section class="main_container">
    <div class="row text-left headings no-margin">
      <div class="container">

      </div>
    </div>

  </section>


  <p class="text-center copyright">&copy; Copyright Isalogi Company. All Rights Reserved.</p>

  <script src="../assets/js/jquery-3.3.1.min.js"></script>
  <script src="../assets/js/popper.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/datatables.min.js"></script>
  <script src="../assets/js/dataTables.responsive.min.js"></script>
  <script src="../assets/js/dataTables.scroller.min.js"></script>
  <script src="../assets/js/responsive.bootstrap.min.js"></script>
  <script src="../assets/js/scroller.bootstrap.min.js"></script>


  <script type="text/javascript">
    $('.carousel').carousel({
      interval: 300000,
      pause: 'true'
    })
  </script>

  <script>
    $(document).ready(function () {

      $.get("http://localhost:8080/getData", {}, function (data) {

        $('#data').DataTable({
          data: data,
          responsive: true,
          scrollX: true,
          paging: true,
          destroy: true,
          "bFilter": false,
          "bInfo": false,
          'aaSorting': [],
          'pageLength': 50,
          'bLengthChange': false,
          columns: [
            {
              title: "Fecha",
              data: "Date",
              type: "date",
            },
            {
              title: "Mensaje",
              data: "Message"
            }
          ],
          columnDefs: [
            { width: '50%', targets: 0 },
            { width: '50%', targets: 1 }
          ]
        });
      });
    });
  </script>

</body>

</html>